.Projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}

.ProjectsCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}