@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.section {
  padding: 0 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  word-break: break-all;
}

.section-header {
  width: 100%;
  padding: 0px;
  position: relative;
  font-size: 5rem;
}

.header-text {
  background-image: radial-gradient(circle at 12.8% 28%, rgb(206, 155, 243) 0%, rgb(142, 229, 247) 90%);
  background-clip: text;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  font-family: 'DM Serif Display', serif;
}

.section-body {
  color: white;
  font-size: 2rem;
  font-family: 'Inter', sans-serif;
  word-break: normal;
}
