.Card {
  &Container {
    display: flex;
    flex-direction: row;
    width: auto;
  
    background-color: white;
    padding: 30px;
    border-radius: 15px;
  
    margin: 3rem 0;
    transition: 0.2s ease-in-out;
  
    &:hover {
      transition: 0.2s ease-in-out;
      transform: scale(1.05) rotate(-0.5deg);
    }
  }

  &Image {
    & img {
      margin: 1rem 2rem 1rem 1rem;
      height: 80px;
      width: auto;
      cursor: pointer;
      transition: 0.15s ease-in-out;

      &:hover {
        transition: 0.15s ease-in-out;
        transform: scale(0.85);
      }

    }
  }

  &Details {
    display: flex;
    flex-direction: column;
  }

  &Header {
    color: black;
    font-size: 2rem;
    font-family: 'DM Serif Display', serif;

    &Info {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      margin: 1rem 0;
    }
  }

  &Body {
    color: black;
    font-size: 1.25rem;
  }

  &Date {
    font-size: 1.25rem;
  }
}