@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

.HeadingText {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 200px 100px;

  &Heading {
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
  }

  &Subtext {
    color: white;
    font-family: 'Inter', sans-serif;
  }
}