.Background {
  position: relative;
  display: flex;
  background: linear-gradient(
    125deg,
    #161515,
    #090041,
    #1f033a,
    #490a47
  );
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-bottom: 10rem;
}
