.Gradient {
  position: relative;
  background: linear-gradient(125deg, #161515, #0f0e0e);
  height: 100vh;
  width: auto;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
